<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Login page</title>
    <meta charset="utf-8"/>
</head>
<body>
<h1>Login page</h1>
<p th:if="${param.error}">Wrong user or password</p>
<p th:if="${param.logout}">You have been logged out</p>

<form method="post" th:action="@{/login}">
    <label for="username">Username</label>:
    <input autofocus="autofocus" id="username" name="username" type="text"/> <br/>
    <label for="password">Password</label>:
    <input id="password" name="password" type="password"/> <br/>
    <input type="submit" value="Log in"/>
</form>
</body>
</html>